[v-cloak]{
    display: none;
}

#todo-app{
    width: 500px;
    margin: 100px auto 0 auto;

}
.todo-container{
    position: relative;
}


.todo-container i{
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
    display: none;;
}

.todo-container:hover i{
    display: block;
}

#toast-container div{
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0px;
    opacity: 1;
}
.done-todo{
    color: #bdbdbd;
    text-decoration: line-through;
}

/* 必需 */
.expand-transition {
  transition: all .8s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
  transform:translateX(500px);
}
