[v-cloak]{
    display: none;
}
.bg{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: fixed;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    z-index: -1;
}
.language{
    position: fixed;
    top:1rem;
    right:1rem;
}
.language label{
    color: #fff;
}
.icon-time{
    display: inline-block;
    background-image: url(../img/icon-time.svg);
    background-repeat: no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    background-position: center;
    width: 30px;
    height: 42px;
    margin-right: 30px;
}
.icon-time input{
    opacity: 0;
    cursor: pointer;
}
.tips-info{
   color: #fff;
   font-size: .6rem;
   line-height: 1;
}
nav{
    background-color: #b1c5c4;
}
.collection{
    border: 0;
}
.collection .collection-item{
    background-color: rgba(255, 255, 255, 0.9);
}
#todo-app{
    width: 500px;
    margin: 100px auto 0 auto;

}
.todoItem-title{
}
.todoItem-time{
    color: #ccc;
    font-size: .8rem;
    font-weight: 300;
}
.todo-container{
    position: relative;
}
.m-media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.m-media .media-left,
.m-media .media-right,
.m-media .media-body {
    display: table-cell;
    vertical-align: top;
}
.m-media .media-left{
    padding-right: 1rem;
}
.m-media .media-right{
    padding-left: 1rem;
}
.m-media .media-middle {
    vertical-align: middle;
}
.m-media .media-body {
    width: 10000px;
}


.todo-container i{
    position: absolute;
    top: 50%;
    right: 15px;
    cursor: pointer;
    display: none;
    -webkit-transform: translate3d(0,-50%,0);
       -moz-transform: translate3d(0,-50%,0);
            transform: translate3d(0,-50%,0);
}

.todo-container:hover {

}
.todo-container:hover i{
    display: block;
}

#toast-container div{
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0px;
    opacity: 1;
}
.done-todo{
    color: #bdbdbd;
    text-decoration: line-through;
}
.collection{
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
}
/* 必需 */
.expand-transition {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter{
  -webkit-transform:translatey(50px);
     -moz-transform:translatey(50px);
          transform:translatey(50px);
  opacity: 0;
}
.expand-leave {
  -webkit-transform:translatey(-50px);
     -moz-transform:translatey(-50px);
          transform:translatey(-50px);
  opacity: 0;
}
