[v-cloak]{
    display: none;
}
html{
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-time{
    display: inline-block;
    background-image: url(../img/icon-time.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 42px;
}
nav{
    background-color: #AEC0C0;
}
.collection{
    border: 0;
}
.collection .collection-item{
    background-color: rgba(255, 255, 255, 0.9);
}
#todo-app{
    width: 500px;
    margin: 100px auto 0 auto;

}
.todo-container{
    position: relative;
}


.todo-container i{
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    display: none;;
}

.todo-container:hover i{
    display: block;
}

#toast-container div{
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0px;
    opacity: 1;
}
.done-todo{
    color: #bdbdbd;
    text-decoration: line-through;
}
.collection{
    transition: all .8s ease;
}
/* 必需 */
.expand-transition {
  transition: all .5s ease;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter{
  transform:translatey(50px);
  opacity: 0;
}
.expand-leave {
  transform:translatey(-50px);
  opacity: 0;
}
